---
- hosts: all
  become: true
  #connection: local
  vars:
    linux_kernel_package_name: linux-image-6.14.0-1017-oem
    amdgpu_install_url: https://repo.radeon.com/amdgpu-install/7.1.1/ubuntu/noble/amdgpu-install_7.1.1.70101-1_all.deb
    amdgpu_sha256_checksum: 2c746ffc31a5beb441b9c8a7078b5ae0404e9e8fb74f95906565b9e2fa235877
  tasks:
    - name: Update cache and upgrade
      apt:
        update_cache: yes
        upgrade: yes

    - name: Install required packages
      package:
        name:
          - tmux
          - vim
          - avahi-daemon
        state: present
    - name: Start avahi-daemon
      service: name=avahi-daemon state=started enabled=yes

    # - name: is radeontop exists
    #   stat:
    #     path: /usr/bin/radeontop
    #   register: radeontop_file
    - name: Install AMD ROCm
      # when: not radeontop_file.stat.exists
      block:
        - name: Install 6.14 OEM kernel
          package:
            name: "{{ linux_kernel_package_name }}"
          register: oem_kernel
        - name: Reboot
          reboot:
            reboot_timeout: 300
          when: oem_kernel.changed
        - name: Download amdgpu deb package
          get_url:
            url: "{{ amdgpu_install_url }}"
            dest: /tmp/amdgpu-install.deb
            mode: '0644'
            checksum: sha256:{{ amdgpu_sha256_checksum }}
        - name: Install amdgpu deb package
          apt:
            deb: /tmp/amdgpu-install.deb
        - name: Set up ROCm usecase
          command: amdgpu-install -y --usecase=rocm --no-dkms
          args:
            creates: /usr/bin/rocminfo
        - name: Append groups to user
          user:
            name: marcin
            groups: render,video
            append: yes
          register: user_groups
        - name: Install radeontop
          package:
            name: radeontop
    - name: Install ollama
      block:
        - name: Install ollama
          unarchive:
            src: https://ollama.com/download/ollama-linux-amd64.tar.zst
            dest: /usr/
            remote_src: yes
            creates: /usr/bin/ollama
        - name: Install ollama AMD ROCm
          unarchive:
            src: https://ollama.com/download/ollama-linux-amd64-rocm.tar.zst
            dest: /usr/
            remote_src: yes
            creates: /usr/lib/ollama/rocm
        - name: Create group "ollama" exists
          group:
            name: ollama
            state: present
            system: true
        - name: Create a user ollama
          user:
            name: ollama
            shell: /bin/false
            system: true
            create_home: yes
            home: /usr/share/ollama
            group: ollama
            groups: render,video
            append: yes
        - name: Append ollama group to user
          user:
            name: marcin
            groups: ollama
            append: yes
        - name: Create systemd service for ollama
          copy:
            dest: /etc/systemd/system/ollama.service
            content: |
              [Unit]
              Description=Ollama Service
              After=network-online.target

              [Service]
              ExecStart=/usr/bin/ollama serve
              User=ollama
              Group=ollama
              Restart=always
              RestartSec=3
              Environment="PATH=$PATH"

              [Install]
              WantedBy=multi-user.target
            owner: root
            group: root
            mode: '0644'
          register: systemd_ollama
        - name: Reload systemd
          systemd:
            daemon_reload: yes
          when: systemd_ollama.changed
        - name: Start and enable service ollama
          service:
            name: ollama
            state: started
            enabled: yes
        - name: Pull Ollama models
          command: ollama pull {{ item }}
          loop:
            - gpt-oss:20b
            - llama3.1:70b
