---
- hosts: k8s
  become: true
  gather_facts: yes
  vars:
    username: "ubuntu"
    kubeseal_version: "0.19.3"
  vars_files:
    - parameters/secrets.yml
  pre_tasks:
    - name: Set a hostname
      hostname:
        name: "{{ vagrant_hostname | default('vm-k8s') }}"
  roles:
    - name: newrelic.newrelic-infra
      vars:
        nrinfragent_config:
          license_key: "{{ NEWRELIC_LICENSE_KEY }}"
      when: "(vagrant_hostname is not defined) or (vagrant_hostname|length == 0)"
  tasks:
    - name: Install node-exporter
      package:
        name: prometheus-node-exporter
    - name: Configure node-exporter
      lineinfile:
        path: /etc/default/prometheus-node-exporter
        regexp: '^ARGS='
        line: ARGS=--collector.netdev.device-exclude="cali.*" --collector.netclass.ignored-devices="cali.*"
        # --collector.arp.exclude="cali.*" requires 1.4.0+
      notify: Restart node_exporter
    - name: Start node-exporter
      service: name=prometheus-node-exporter enabled=true state=started
    - name: Install required packages
      snap:
        name:
          - microk8s
          - kubectl
          - terraform
        classic: yes
        state: present
    - name: Add microk8s to the user's groups
      user:
        name: "{{ username }}"
        groups: microk8s
        append: yes
    - name: Enable storage microk8s addon
      command:
        cmd: microk8s enable storage
    - name: Enable DNS microk8s addon
      command:
        cmd: microk8s enable dns
    - name: Enable ingress microk8s addon
      command:
        cmd: microk8s enable ingress
    - name: Enable metrics-server microk8s addon
      command:
        cmd: microk8s enable metrics-server
    # - name: Reset connection so docker group is picked up.
    #   meta: reset_connection
    - name: Install kubeseal {{ kubeseal_version }}
      unarchive:
        src: https://github.com/bitnami-labs/sealed-secrets/releases/download/v{{ kubeseal_version }}/kubeseal-{{ kubeseal_version }}-linux-amd64.tar.gz
        dest: /usr/local/bin/
        remote_src: yes
        creates: /kubeseal
        # in this version of module, we don't have include parameter
        exclude:
          - LICENSE
          - README.md
    - name: Create .kube directory
      become: no
      file:
        path: ~/.kube
        state: directory
        mode: '0750'
    - name: Display kubectl configuration for {{ username }}
      command:
        cmd: microk8s config
        #creates: ~/.kube/config
      register: kubectl_config
      become: no
    - name:
      copy:
        content:  "{{  kubectl_config.stdout  }}"
        dest: ~/.kube/config
        mode: '0640'
      become: no
    - import_tasks: ./tasks/homeassistant.yml
    - import_tasks: ../common/wazuh-agent.yml
    - import_tasks: ../common/fluent-bit.yml
    - name: Configure fluentbit
      template:
        src: templates/fluent-bit-custom.conf.j2
        dest: "/etc/fluent-bit/custom.conf"
        backup: true
        mode: 0644
  handlers:
    - name: Restart node_exporter
      service:
        name: prometheus-node-exporter
        state: restarted
