---
apiVersion: v1
kind: Secret
metadata:
  name: cloudwatch-exporter
  namespace: monitoring
data:
  AWS_ACCESS_KEY_ID: {{ CLOUDWATCH_EXPORTER_ACCESS_KEY | b64encode }}
  AWS_SECRET_ACCESS_KEY: {{ CLOUDWATCH_EXPORTER_SECRET_ACCESS_KEY | b64encode}}
type: Opaque
