apiVersion: v1
data:
  # see https://github.com/prometheus/mysqld_exporter/issues/1004
  FRESH_RSS_PASSWORD: {{FRESHRSS_MYSQL_ROOT_PASSWORD | b64encode}}
  .my.cnf: |
{% set encoded_content %}
[client.nextcloud]
user = root
password = {{ NC_MYSQL_ROOT_PASSWORD }}
[client.ttrss]
user = root
password = {{ TTRRSS_MYSQL_ROOT_PASSWORD }}
[client.matomo]
user = root
password = {{ MATOMO_DB_ROOT_PASSWORD }}
[client.freshrss]
user = root
password = '$FRESH_RSS_PASSWORD'
{% endset %}
    {{ encoded_content | b64encode }}
kind: Secret
metadata:
  name: mysqld-exporter
  namespace: monitoring
type: Opaque
