---
apiVersion: v1
kind: Secret
metadata:
  name: nextcloud2
  namespace: prod
data:
  NEXTCLOUD_EXPORTER_TOKEN: {{NEXTCLOUD_EXPORTER_TOKEN | b64encode}}
type: Opaque
---
apiVersion: v1
kind: Secret
metadata:
  name: nextcloud-mysql2
  namespace: prod
data:
  MYSQL_DATABASE: {{ NC_MYSQL_DATABASE | b64encode}}
  MYSQL_PASSWORD: {{ NEXTCLOUD_DB_PASS | b64encode}}
  MYSQL_ROOT_PASSWORD: {{ NC_MYSQL_ROOT_PASSWORD | b64encode}}
  MYSQL_USER: {{ NC_MYSQL_USER | b64encode}}
type: Opaque
