---
apiVersion: v1
kind: Secret
metadata:
  name: openai-exporter
  namespace: monitoring
data:
  OPENAI_SECRET_KEY: {{OPENAI_SECRET_KEY | b64encode}}
  OPENAI_ORG_ID: {{ OPENAI_ORG_ID  | b64encode }}
type: Opaque
