---
apiVersion: v1
kind: Secret
metadata:
  name: games
  namespace: tekton
data:
  PASSPHRASE: {{GAMES_PASSPHRASE | b64encode}}
  FILE_URL: {{GAMES_FILE_URL | b64encode}}
  UPLOAD_URL: {{GAMES_UPLOAD_URL | b64encode}}
type: Opaque
