---
apiVersion: v1
kind: Secret
metadata:
  name: backup-restic
  namespace: prod
data:
  AWS_ACCESS_KEY_ID: {{AWS_ACCESS_KEY_ID | b64encode}}
  AWS_SECRET_ACCESS_KEY: {{AWS_SECRET_ACCESS_KEY | b64encode}}
  RESTIC_PASSWORD: {{RESTIC_PASSWORD | b64encode}}
  RESTIC_REPOSITORY: {{RESTIC_REPOSITORY | b64encode}}
type: Opaque
