---
apiVersion: v1
kind: Secret
metadata:
  name: tapo2
  namespace: prod
data:
  TAPO_IP: {{TAPO_IP | b64encode}}
  TAPO_PASSWORD: {{TAPO_PASSWORD | b64encode}}
  TAPO_USERNAME: {{TAPO_USERNAME | b64encode}}
type: Opaque
