---
apiVersion: v1
kind: Secret
metadata:
  name: backup-ttrss-restic
  namespace: prod
data:
  AWS_ACCESS_KEY_ID: {{AWS_ACCESS_KEY_ID | b64encode}}
  AWS_SECRET_ACCESS_KEY: {{AWS_SECRET_ACCESS_KEY | b64encode}}
  RESTIC_PASSWORD: {{RESTIC_PASSWORD | b64encode}}
  RESTIC_REPOSITORY: {{RESTIC_REPOSITORY | b64encode}}
type: Opaque
---
apiVersion: v1
kind: Secret
metadata:
  name: ttrss-mysql
  namespace: prod
data:
  MYSQL_DATABASE: {{TTRSS_DB_NAME | b64encode}}
  MYSQL_PASSWORD: {{TTRSS_DB_PASS | b64encode}}
  MYSQL_ROOT_PASSWORD: {{TTRRSS_MYSQL_ROOT_PASSWORD | b64encode}}
  MYSQL_USER: {{TTRSS_DB_USER | b64encode}}
type: Opaque
