{
  "settings": [
    {
      "provider": "cloudflare",
      "zone_identifier": "c948940ea08d5bff1e664cf9dee108a1",
      "domain": "mdemo.ovh",
      "host": "mx1.mail",
      "ttl": 60,
      "token": "{{ DDNS_UPDATER_CLOUDFLARE_TOKEN }}",
      "ip_version": "ipv4"
    }
  ]
}
