*
!.gitignore
!/sensi/
!/sensi/manifests/
!/sensi/manifests/*
!/sensi/manifests/docker_stack/
!/sensi/manifests/docker_stack/*
!/sensi/templates/
!/sensi/templates/*
!/sensi/templates/nginx/
!/sensi/templates/nginx/*
!/sensi/templates/gitlab/
!/sensi/templates/gitlab/*
!/sensi/templates/systemd/
!/sensi/templates/systemd/*
!/sensi/templates/systemd/duplicity/
!/sensi/templates/systemd/duplicity/*
!/sensi/templates/collectd/
!/sensi/templates/collectd/*
!/sensi/templates/docker-swarm/
!/sensi/templates/docker-swarm/*
!/sensi/templates/prometheus/
!/sensi/templates/prometheus/*
