[SERVICE]
    Flush 5
    Log_Level info
    Daemon off
    Plugins_File /fluent-bit/etc/plugin-newrelic.conf
    Parsers_File parsers.conf

[INPUT]
    Name tail
    Tag docker.*
    Path /var/lib/docker/containers/*/*-json.log
    Parser docker
    Refresh_Interval 10

[OUTPUT]
    Name newrelic
    Match *
    licenseKey ${LICENSE_KEY}
    Format json_lines
    endpoint https://log-api.eu.newrelic.com/log/v1

[FILTER]
    Name modify
    Match *
    Add hostname vm-docker
